.UserActivity {
   

    &-item {
        border-bottom: 1px solid hsl(216, 8%, 88%);
        padding: .5rem 0.3rem;
        font-size: 12px;

        &__header {
            & + * {
                margin-top: 0.3rem;
            }
        }

        &__content {
            display: flex;
        }

        &__img {
            display: flex;
            width: 50px;
            height: 50px;

            & + * {
                margin-left: 0.3rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
