.PostFeedView {
    &_header {
        display: flex;
        align-items: center;

        .btn {
            width: 170px;
        }

        > * + * {
            margin-left: 1rem;
        }

        & + * {
            margin-top: 1rem;
        }
    }

    &_posts {
        flex-direction: column;
    }
}
