/* https://css-tricks.com/snippets/css/using-font-face/ */

@font-face {
    font-family: 'YourFavoriteFont';
    src: url('../assets/fonts/YourFavoriteFont.eot') format('embedded-opentype');
    src: url('../assets/fonts/YourFavoriteFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
