.ContactItemView {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    padding-left: 1rem;
    transition: all 0.2s ease-in-out;
    position: relative;

    &:hover {
        background-color: hsla(0, 0%, 0%, 0.08);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
    }

    &__active {
        background-color: hsla(209, 100%, 50%, 0.2);

        &::before {
            background-color: hsl(209, 100%, 50%);
        }

        &:hover {
            background-color: hsla(209, 100%, 50%, 0.4);
        }
    }

    &__avatar-wrap {
        display: flex;
        width: 50px;
        min-width: 50px;
        height: 50px;

        & + * {
            margin-left: .5rem;
        }
    }

    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        background: white;
    }

    &__user {
        display: flex;
        flex-direction: column;
    }

    &__name {
        margin: 0;
    }
}
