.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.active {
        .checkbox_check {
            opacity: 1;
        }
    }

    &_check {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        opacity: 0;
    }
}
