.PostView {
    overflow: hidden;

    > * {
        & + * {
            margin-top: 1rem;
        }
    }

    & + * {
        margin-top: 2rem;
    }

    &__text {
        font-size: 13px;
    }

    &__fav-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &__image-wrap {
        display: flex;
        width: calc(100% + 24px);
        margin-left: -12px;
        margin-right: -12px;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__fav {
        font-size: 12px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: hsl(353, 83%, 59%);
        color: white;
        width: max-content;
        padding: 0.5em;
        border-radius: 4px;
        cursor: pointer;
        transition: all .5s;

        & + * {
            margin-left: 1rem;
        }

        &:hover {
            background-color: hsl(353, 100%, 29%);
        }
    }
}
