.MessageInput {
    padding-top: 0.75rem;

    &__Form {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .ant-form-item {
            margin: 0;
        }

        .ant-form-item-children {
            display: flex;
        }

        .ant-btn {
            margin: 0 0 0 .5em;
        }
    }

    .main-form {
        flex-direction: row;

        &__fields {
            width: 100%;

            textarea {
                margin-top: 0;
                height: 31px;
                border-radius: 2px;
            }

            & + * {
                margin-left: 1rem;
                margin-top: 0;
                height: 31px;
            }
        }
    }
}
