.image-loader {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;

    &__img {
        margin-top: 0;
        object-fit: cover;
        height: 95px;
        width: 95px;
    }

    &__input {
        position: absolute;
        opacity: 0;
        height: 95px;
        width: 95px;
        cursor: pointer;
    }

    .btn {
        margin-top: 1rem;
        width: 100%;
    }

    & + * {
        margin-top: 1em;
    }
}
