.LikesView {
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    width: max-content;
    padding: 0.5rem;
    border-radius: 3px;
    background: transparent;
    color: rgb(0, 85, 155);
    transform: translate3d(0, 0, 0) scale(1);
    width: 3rem;
    height: 2rem;

    &:active {
        transform: translate3d(0, 0, 0) scale(0.98);
    }

    * + * {
        margin-left: 0.5rem;
    }

    &__count {
        color: inherit;
        font-weight: bold;
    }

    &__icon {
        color: inherit;
        font-weight: bold;
    }

    &.liked {}
}
