.globalMenu {
    display: flex;
    flex-direction: column;

    a {
        font-weight: bold;
        font-size: 13px;
        line-height: 2.3;
        color: black;
        text-decoration: none;
        padding-left: 30px;
        border-radius: 2px;
        border: 1px solid transparent;

        & + * {
            margin-top: 4px;
        }

        &:hover {
            background-color: hsl(210, 11%, 96%);
            border-color: hsl(216, 8%, 88%);
        }
    }
}
