.custom-select {
    position: relative;
    width: max-content;
    z-index: 10;
    padding-right: 8px;

    & + * {
        margin-top: 0.75rem;
    }

    &_opened {
        z-index: 12;
    }

    &__header {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        width: calc(100% + 8px);
        justify-content: space-between;
        padding-right: 8px;
    }

    &__arrow {
        display: flex;
        align-items: center;
    }

    &__selected {
        color: hsla(0, 0%, 0%, 1);
        font-size: 13px;
        padding: 8px;

        & + * {
            margin-left: 1em;
        }
    }

    &_big {
        padding-bottom: 5px;
        width: max-content;
        border-bottom: 2px solid #2E3C54;

        .custom-select {
            &__selected {
                font-size: 12px;
                color: #2E3C54;
                letter-spacing: 0;
                font-weight: $medium;

                & + * {
                    margin-left: 2em;

                    * {
                        opacity: 1;
                        fill: #2E3C54;
                    }
                }
            }
        }
    }

    &__options {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(0, calc(105% + 1em));
        opacity: 0;
        padding: .8rem 0 .4rem 0;
        background: hsl(0, 0%, 98%);
        transition: all 0.4s;
        border-radius: 4px;
        visibility: hidden;
        width: calc(100% + 8px);

        &_opened {
            transform: translate(0, 105%);
            opacity: 1;
            visibility: visible;
        }
    }

    &__option {
        padding: 0.8rem 0;
        padding-left: 1em;
        font-size: 10px;
        text-transform: capitalize;

        &_disabled {
            opacity: .5;
            pointer-events: none;
        }

        &:nth-child(odd) {
            background: hsl(0, 0%, 95%);
        }

        & + * {}
    }
}
