@import 'configs/vars';
@import 'configs/color';
@import 'configs/font-faces';
@import 'configs/normalize';

* {
    -webkit-font-smoothing: antialiased;
    outline: none;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: YourFavoriteFont;
}

h1 {
    margin-top: 0 !important;
}

a {
    color: hsl(219, 48%, 41%);
    text-decoration-color: transparent;

    &:hover {
        text-decoration-color: hsl(219, 48%, 41%);
    }
}

textarea {
    max-width: 100%;
    transition: none !important;
    resize: none;
}

#app-container {
    background-color: hsl(216, 13%, 92%);
    min-height: 100vh;
    height: fit-content;

    .container {
        display: flex;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1rem;
        width: 100%;
        max-width: 1012px;
        margin: 0 auto;
        padding: 60px 0.75rem;
        overflow: scroll;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .globalMenu {
            width: 180px;
            min-width: 180px;

            & + * {
                margin-left: 1rem;

                @media (max-width: 768px) {
                    margin-left: 0;
                    margin-top: 1rem;
                }
            }
        }

        .container__content {
            width: 100%;
            max-width: 800px;
            min-height: 600px;
        }
    }
}

.hint {
    font-size: 12px;
    margin-top: 1em;
    color: hsla(0, 0%, 0%, 0.6);
    display: flex;
    align-items: center;

    &:before {
        content: '\26A0 ';
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        color: red;
    }

    & + * {
        margin-top: 0.5em;
    }

    &_common {
        &:before {
            content: 'o ';
            color: hsl(354, 61%, 28%);
        }

        & + .input-block {
            .input-block__heading {
                display: none;
            }
        }
    }
}

.error {
    font-size: 12px;
    color: red;
    margin-top: 1em;

    & + * {
        margin-top: 0.5em;
    }
}

.content-card {
    background-color: white;
    border-radius: 4px;
    border: 1px solid hsl(216, 8%, 88%);
    padding: 0.75rem;
}

.text {
    &_accent {
        font-weight: bold;
        color: $accent-color;
    }

    &_bold {
        font-weight: bold;
    }

    &_small {
        font-size: 12px;
        line-height: 1.3;
    }
}

.btn {
    -webkit-appearance: none;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background: hsl(0, 0%, 100%);
    color: black;
    border: 1px solid black;
    font-weight: bold;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    padding: 0px 1rem;
    height: 28px;

    span {
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &:hover {
        background-color: black;
        color: white;
    }

    &_active {
        background-color: black;
        color: white;
    }

    &:active {
        transition: all 0s;
        border-color: white;
    }
}
