@import '../../../../../style/configs/vars.css';

.input-block {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_centered-transparent {
        .input-block__input {
            background: transparent;
            font-size: 13px;
            font-weight: $medium;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #4A4A4A;
            text-align: center;
        }
    }

    &_not-valid {
        .input-block {
            &__input {
                background: hsl(0, 100%, 91%) !important;
            }
        }
    }

    &_gray-bg {
        .input-block {
            &__heading {
                font-size: 13px;
                color: hsl(0, 0%, 15%);
                letter-spacing: 0;
                line-height: 1;
                font-weight: $bold;

                & + * {
                    margin-top: .5rem;
                }
            }

            &__input {
                background: white;
                border: 1px solid black;
                padding: 8px;
                color: black;
            }
        }

        & + * {
            margin-top: 0.75rem;
        }
    }

    &__heading {
        font-size: 13px;
        color: hsl(0, 0%, 15%);
        letter-spacing: 0;
        line-height: 1;
        margin: 0;
        font-weight: $bold;

        & + * {
            margin-top: 6px;
        }
    }

    &__input {
        outline: none;
        -webkit-appearance: none;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        font-size: 13px;
        color: #4a4a4a;
        letter-spacing: 0;
        padding: 7px 14px;
        width: 100%;
        transition: all 0.5s ease-in-out;
    }
}
