.MessengerView {
    display: flex;
    min-height: 500px;

    &__main {
        width: calc(100% * 2/3);

        & + * {
            margin-left: 0.75rem;
        }
    }

    &__aside {
        width: calc(100% * 1/3);
        border-left: 1px solid lightgray;
    }
}
