.settings-block {
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;

        > * {
            width: calc(100% / 3);
        }

        & + * {
            margin-top: 1rem;
        }
    }
    &+.btn{
        margin-top: 1rem;
    }
}
