.UserInfoView {
    display: flex;
    flex-direction: column;

    & + * {
        margin-top: 1rem;
    }

    &_first {
        display: flex;
        justify-content: space-between;

        & + * {
            margin-top: 1rem;
        }
    }

    &_second {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 168px;
        min-width: 168px;
        align-items: center;
    }

    &__right {
        display: flex;
        width: 100%;
        margin-left: 1rem;
        justify-content: space-between;
    }

    &__avatar-holder {
        display: flex;

        & + * {
            margin-top: .5rem;
        }
    }

    &__avatar {
        width: 168px;
        height: 168px;
        object-fit: cover;
    }

    &__rating {
        > * + * {
            margin-left: 0.5rem;
        }
    }

    .item-list {
        &__item {
            font-size: 12px;
            line-height: 16px;

            & + * {
                margin-top: .5rem;
            }

            &-left {
                & + * {
                    margin-left: .5rem;
                }

                &::after {
                    content: ':';
                }
            }

            &-right {}
        }
    }

    &_about {
        display: flex;
        flex-direction: column;

        header + * {
            margin-top: 1rem;
        }
    }
}
