.btn {
    -webkit-appearance: none;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background: hsl(0, 0%, 100%);
    color: black;
    border: 1px solid black;
    font-weight: bold;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    padding: 0px 1rem;
    height: 28px;

    span {
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &:hover {
        background-color: black;
        color: white;
    }

    &_active {
        background-color: black;
        color: white;
    }

    &:active {
        transition: all 0s;
        border-color: white;
    }
}
