.CommentView {
    display: flex;

    & + * {
        margin-top: 1rem;
    }

    &__avatar {
        height: 50px;
        border-radius: 50%;
        background: lightgray;
        overflow: hidden;
        min-width: 50px;
        width: 50px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & + * {
            margin-left: 1rem;
        }
    }

    &__creator {
        font-weight: bold;

        & + * {
            margin-top: .5rem;
        }
    }

    &__body {}

    &__content {
        display: flex;
        flex-direction: column;
    }
}
