.Message {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: .1rem 0;
    min-height: fit-content;

    .MessageView {
        max-width: 80%;
        padding: 6px 12px;
        border-radius: 1.3em;
        background-color: hsl(0, 3%, 94%);
        color: black;
        min-width: 110px;
        position: relative;

        &__rec {
            margin-left: 40px;
        }

        &__recipient {
            &-avatar {
                width: 32px;
                height: 32px;
                object-fit: cover;
                border-radius: 50%;
                position: absolute;
                left: -8px;
                bottom: 0;
                transform: translate(-100%, 0);
            }

            &-name {
                display: none;
            }
        }

        &__footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0.3rem;
        }

        &__read {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &-arrow {
                display: flex;
                width: 10px;
                height: 10px;

                svg {
                    width: 100%;
                    height: 100%;
                }

                &-hidden {
                    display: none;
                }
            }

            &_readed {
                .MessageView__read {
                    &-arrow {
                        &-hidden {
                            display: flex;
                            position: absolute;
                            left: -6px;
                        }
                    }
                }
            }

            & + * {
                margin-left: .4em;
            }
        }

        &__posted {
            font-size: 12px;
            text-align: right;
        }
    }

    &__my {
        justify-content: flex-end;

        .MessageView {
            background-color: hsl(209, 100%, 50%);
            color: white;
        }
    }
}
