.edit {
    .EditProfile-wrapper {
        display: flex;
    }

    .LoadAvatar-wrapper {
        min-width: 95px;

        & + * {
            margin-left: 1rem;
        }
    }

    .settings-wrap {
        display: flex;
        flex-direction: column;
        width: calc(100% - 95px - 1rem - 30px);

        > * {
            width: 100%;

            & + * {
                margin-top: 1rem;
            }
        }
    }
}
